snippet helperfuncs "vim helperfuncs for typescript"
// ====================================================
// START ${1}
// ====================================================

	${2}

// ====================================================
// END ${1}
// ====================================================
endsnippet
