extends typescript

snippet importreactsvg "vim import react svg"
import { ReactComponent as ${1} } from "${2}.svg";
endsnippet

snippet importsvgreact "vim import svg react"
import { ReactComponent as ${1} } from "${2}.svg";
endsnippet
