snippet_in.txt
snippet_out.json
.config/alacritty/alacritty*.toml

!dotfiles.code-workspace
!.config/alacritty/alacritty-template.toml
!.claude/*
!llm-templates/*
!llm-templates/claude/claude.ebnis.chat.md
llm-templates/.___scratch*
