snippet fn "vim elixir anonymous function"
fn ${1:param} ->
	${2:exp}
end
endsnippet
snippet withok "vim elixir with statement"
with ${2:result} <- ${1:expr} do
	${3:return_ok}
end
endsnippet
snippet withokelse "vim elixir with/else statement"
with ${2:result} <- ${1:expr} do
	${3:return_ok}
else
	${4:else_1} ->
		${5:return_else}
end
endsnippet
