extends jscommons

snippet reactcontext "vim react context"
import { createContext } from "react";

type ContextValue = Record<string, any>;
const Context = createContext<ContextValue>({} as ContextValue);
const Provider = Context.Provider;
endsnippet
snippet contextreact "vim react context"
import { createContext } from "react";

type ContextValue = Record<string, any>;
const Context = createContext<ContextValue>({} as ContextValue);
const Provider = Context.Provider;
endsnippet
